@use "styles/mixins" as *;

.main {
  margin-top: var(--main-padding);
}

.toast {
  @include user-select;
  background-color: var(--background-lower) !important;
  border: 0 !important;
  box-shadow: 0 16px 32px rgba(var(--dark-rgb), 0.05) !important;
  border-radius: var(--radius-m) !important;
  color: var(--text-tertiary) !important;
  letter-spacing: 0 !important;
  font-family: var(--font-main) !important;
  padding: var(--size-6) !important;

  a {
    font-weight: bold;
    color: var(--primary-medium) !important;

    &:hover {
      color: var(--primary-low) !important;
    }
  }

  [data-title] {
    font-size: var(--size-4);
    padding-left: 0.25em;

    &::before {
      position: relative;
      display: block;
      font-weight: bold;
      color: var(--color);
      font-size: var(--size-4);
      margin-bottom: 0.25em;
    }
  }

  &[data-type="success"] {
    --color: var(--success-low);
    --txt: var(--success-medium);

    [data-title] {
      &::before {
        content: "Success";
      }
    }
  }

  &[data-type="error"] {
    --color: var(--danger-low);
    --txt: var(--danger-medium);

    [data-title] {
      &::before {
        content: "Error";
      }
    }
  }

  [data-icon] {
    svg {
      position: relative;
      fill: var(--color);
      top: -1.05em;
      left: 0.25em;
      transform: scale(1.25);
    }
  }
}
