@use "styles/mixins" as *;

.progress {
  background-color: var(--background-higher);
  width: 100%;
  border-radius: var(--radius-rounded);
  overflow: hidden;
  height: var(--size-1);
  margin-top: var(--size-1-5);

  &Bar {
    height: 100%;
    background: linear-gradient(
      to right,
      var(--background-higher),
      var(--success-low)
    );
    border-radius: inherit;
  }
}
