@use "styles/mixins" as *;

.search {
  --padding: var(--size-3);
  background-color: var(--background-medium);
  border-radius: var(--radius-m);
  display: flex;
  align-items: center;
  padding: var(--padding);
  gap: var(--size-4);
  cursor: text;

  &Icon {
    width: 1.5em;
    margin-left: var(--padding);
  }

  &Input {
    flex: 1;

    &:focus {
      color: var(--primary-medium);
    }

    &::placeholder {
      color: var(--text-tertiary);
    }
  }

  &Actions {
    display: flex;
    align-items: center;
    gap: calc(var(--padding) / 2);

    strong {
      margin-left: 0.5em;
      display: inline-block;
      color: var(--primary-medium);
    }

    button:hover strong {
      color: inherit;
    }

    @include max(1250px) {
      button {
        span {
          display: none;
        }

        [data-icon-left] {
          transform: scale(1.5);
        }
      }
    }
  }
}

.information {
  --modal-width: calc(300px + 100 * (100vw - 320px) / 1080);
  line-height: 1.5;

  p {
    color: var(--text-secondary);
  }

  strong {
    color: var(--success-medium);
  }
}

.list {
  margin-top: var(--grid-gap);
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, calc(250px + 80 * (100vw - 320px) / 1080)), 1fr)
  );
  gap: var(--grid-gap);
}
