@use "styles/mixins" as *;

.card {
  --card-padding: var(--size-10);
}

.gradient {
  background: conic-gradient(
    from 90deg,
    rgba(125, 78, 108, 1) 0deg,
    rgba(0, 45, 203, 1) 37.7011deg,
    rgba(0, 45, 203, 1) 113.146deg,
    rgba(0, 196, 118, 1) 216deg,
    rgba(35, 123, 255, 1) 288deg,
    rgba(255, 112, 11, 1) 321.026deg,
    rgba(125, 78, 108, 1) 360deg
  );
  height: 100%;
  width: 100%;
  opacity: 1;
}

.content {
  display: flex;
  align-items: center;
  gap: calc(var(--card-padding) / 1.5) var(--card-padding);
  flex-wrap: wrap;
  flex: 1;

  @include max(700px) {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
}

.pie {
  width: 45%;
  max-width: 350px;
  position: relative;
  overflow: visible;

  @include min(1450px) {
    padding: 2%;
  }

  @include max(1250px) {
    display: none;
  }

  @include max(1200px) {
    display: block;
  }

  @include max(700px) {
    margin: auto;
    width: 90%;
  }
}

.topTotal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--size-6);

  small {
    color: var(--text-tertiary);
    font-size: var(--size-5);
  }

  @include min(1250px) {
    display: none;
  }

  @include max(1200px) {
    display: none;
  }
}

.totalAmount {
  font-size: 2.8rem;
  letter-spacing: -0.025em;
  fill: var(--text-primary);

  tspan {
    fill: var(--text-tertiary);
    font-size: 0.75em;
  }
}

.totalLabel {
  font-size: 0.85rem;
  fill: var(--text-tertiary);
}

.svgTextContainer {
  overflow: visible;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--card-padding) / 2);
  flex: 1;
}

.sad {
  font-size: 2em;
  color: var(--primary-medium);
}

.tokens {
  display: flex;
  flex-direction: column;
  // flex: 1;
  gap: calc(var(--card-padding) / 2);
  width: calc(55% - var(--card-padding));

  li {
    --symbol-size: 2.5em;
    display: flex;
    align-items: center;
    width: 100%;
    gap: calc(var(--card-padding) / 3);
  }

  .left {
    margin-right: auto;
  }

  .right {
    margin-left: auto;
    text-align: right;
  }

  .info {
    white-space: nowrap;
    overflow: hidden;
  }

  .top {
    font-weight: bold;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }

  .bottom {
    color: var(--text-tertiary);
    font-size: 0.75em;
    font-weight: 600;
    margin-top: 0.35em;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }

  small {
    color: var(--text-tertiary);
  }
}
