@use "styles/mixins" as *;

.button {
  @include max($responsiveMobile) {
    width: var(--btn-base-height);
    height: var(--btn-base-height);
    padding: 0;

    [data-icon] {
      transform: scale(1.75);
    }

    span {
      display: none;
    }
  }
}
