@use "styles/mixins" as *;

.container {
  overflow-y: hidden;
  overflow-x: auto;
  @include no-scrollbar;
}

.table {
  --table-spacing: var(--size-2-5);
  --td-padding: var(--size-3);
  --td-radius: var(--radius-xl);
  --td-height: var(--button-large-height);
  --td-size: var(--button-medium-size);
  margin: calc(var(--table-spacing) * -1) 0;
  border-collapse: separate;
  border-spacing: 0 var(--table-spacing);
  width: 100%;
  font-size: var(--td-size);
  white-space: nowrap;

  thead {
    background-color: var(--background-low);
  }

  td {
    width: auto;
  }
}

.cell {
  background-color: var(--background-lower);
  padding: var(--td-padding);
  min-height: var(--td-height);
  vertical-align: middle;

  &:first-child {
    border-radius: var(--td-radius) 0 0 var(--td-radius);
  }

  &:last-child {
    border-radius: 0 var(--td-radius) var(--td-radius) 0;
  }

  &[data-align="right"] {
    text-align: right;
  }

  &[data-align="center"] {
    text-align: center;
  }

  &[data-align="left"] {
    text-align: left;
  }
}
