@use "styles/mixins" as *;

.header {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  z-index: 100;
  position: sticky;
  top: var(--spacing-xs);
  pointer-events: none;

  button,
  a {
    pointer-events: auto;
  }

  &::before {
    content: "";
    @include backdrop(16px);
    position: absolute;
    z-index: -1;
    background: linear-gradient(
      to top,
      var(--background-medium),
      oklch(93.93% 0.028757 266.368 / 0.75)
    );
    width: 100vw;
    top: calc(var(--spacing-xs) * -1);
    bottom: calc(var(--spacing-xs) * -1);
    left: 50%;
    transform: translateX(-50%);
  }
}

.logotype {
  height: var(--size-7);
  margin-bottom: var(--size-1-5);
  overflow: visible;
  display: block;
  margin-left: var(--size-2);

  svg {
    height: 100%;
    overflow: visible;
  }

  @include max($responsiveMobile) {
    height: var(--size-6);
  }
}

.right {
  display: flex;
  margin-left: auto;
  gap: var(--spacing-2xs);
}
