@use "styles/mixins" as *;

.bridge {
  --grid-columns: 2;
  align-items: flex-start;
  grid-template-areas:
    "a b"
    "a c"
    "a d";

  @include max(1300px) {
    grid-template-areas:
      "a a"
      "b c"
      "b d";
  }

  @include max(1150px) {
    grid-template-areas:
      "a a"
      "b b"
      "c c"
      "d d";
  }
}

.card {
  background-color: red;
  height: 100%;
}
