@use "styles/mixins" as *;

.alert {
  --padding: var(--size-6);
  position: relative;
  border-radius: var(--radius-m);
  padding: var(--padding);
  display: flex;
  align-items: center;
  gap: calc(var(--padding) / 1.25);
  line-height: 1.25;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.1;
    background: var(--color-medium, var(--primary-medium));
    border-radius: var(--radius-m);
    pointer-events: none;
  }
}

.icon {
  position: relative;
  flex-shrink: 0;
  font-size: 1.5rem;
}

.content {
  position: relative;
  flex: 1;
  word-break: break-all;
}
