@use "styles/mixins" as *;

.banner {
  --radius-2: calc(24px + 4 * (100vw - 320px) / 1080);
  --primary-rgb: 0, 45, 203;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  color: var(--primary-medium);

  width: 100%;
  border-radius: 0 0 var(--radius-2) var(--radius-2);
  text-align: center;
  background: linear-gradient(
    to top,
    rgba(var(--primary-rgb), 0.075),
    transparent
  );
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2 * (100vw - 320px) / 1080);
  font-weight: 500;
  padding: 0.85em;
  letter-spacing: -0.015em;

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.tag {
  font-size: 0.8em;
  font-weight: 800;
  border-radius: 50px;
  background-color: rgba(var(--primary-rgb), 0.1);
  padding: 0.3em 0.75em;
}
