@use "styles/mixins" as *;

.stat {
  --card-padding: var(--size-9);
  justify-content: space-between;
  overflow: hidden;
}

.value {
  letter-spacing: -0.025em;
  font-size: var(--size-7);
  @include ellipsis;

  @include max($responsiveMobile) {
    font-size: var(--size-6);
  }

  span {
    color: var(--text-tertiary);
    font-weight: 400;
  }
}

.label {
  margin-top: calc(var(--card-padding) / 4);
  white-space: nowrap;
}
