@use "styles/mixins" as *;

.label {
  @include block(var(--size-3));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0.75em;
  border-radius: var(--radius-s);
  font-size: var(--size-3);
  font-weight: 500;
  white-space: nowrap;

  &.primary {
    background-color: var(--primary-lowest);
    color: var(--primary-medium);
  }

  &.success {
    background-color: var(--success-lowest);
    color: var(--success-medium);
  }

  &.warning {
    background-color: var(--warning-lowest);
    color: var(--warning-medium);
  }

  &.danger {
    background-color: var(--danger-lowest);
    color: var(--danger-medium);
  }
}
