@use "styles/mixins" as *;

.badge {
  background-color: var(--color-medium);
  display: inline-flex;
  align-items: center;
  color: var(--white) !important;
  font-size: var(--size-2);
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1;
  padding: 0.35em 0.75em;
  border-radius: var(--radius-m);
}

.icon {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
}
