@use "styles/mixins" as *;

.button {
  [data-symbol] {
    font-size: 2em;
    margin-left: -0.4em;
  }
}

.change {
  @include max($responsiveMobile) {
    width: var(--btn-base-height);

    [data-icon-right] {
      display: none;
    }

    [data-symbol] {
      margin-left: 0;
      transform: scale(1.85);
    }

    span {
      display: none;
    }
  }
}

.modal {
  --modal-width: 450px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);

  .button {
    width: 100%;
    --btn-size: var(--size-4);

    span {
      flex: 1;
      text-align: left;
    }
  }
}

.symbol {
  flex-shrink: 0;
  color: var(--white);
  width: 28px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--white);
}
