@use "styles/mixins" as *;

$responsiveSwap: 800px;

.button {
  [data-symbol] {
    font-size: 2em;
    margin-left: -0.4em;
  }
}

.modal {
  --modal-width: 450px;

  &Qrcode {
    --modal-width: 350px;

    .close {
      margin-top: -1em;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);

  .button {
    width: 100%;
    --btn-size: var(--size-4);

    span {
      flex: 1;
      text-align: left;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--size-10) / 2);
}

.form {
  --padding: var(--size-8);
  --input-padding: var(--size-6);
  --gap: calc(var(--padding) / 2);
  background-color: var(--background-medium);
  border-radius: var(--radius-m);
  padding: var(--padding);
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;

  & > * {
    flex: 1 auto;
  }

  @include max(500px) {
    --padding: var(--size-4);
  }
}

.input {
  background-color: var(--background-low);
  border-radius: var(--radius-m);
  padding: var(--input-padding);
  display: flex;
  align-items: center;
  gap: var(--size-4);
  font-size: var(--size-5);

  &Token {
    cursor: pointer;
  }

  &:hover {
    .arrow {
      color: var(--primary-medium);
    }
  }

  .icon {
    width: 1em;
    transform: scale(1.5);
  }

  .value {
    flex: 1;
    width: 70%;
    font-weight: 600;
    letter-spacing: -0.015em;
  }

  .label {
    @include ellipsis;
    text-align: right;
    font-size: var(--size-3-5);
    color: var(--text-secondary);
    cursor: pointer;
    padding-bottom: 0.05em;

    small {
      display: block;
      font-size: 0.6em;
      margin-top: 0.25em;
    }
  }

  .arrow {
    color: var(--text-secondary);
    transform: scale(1.15);
  }

  .max {
    --btn-size: var(--size-3-5);
    --btn-color: var(--primary-medium);
    --btn-padding-x: 1.15em;
  }

  .btn {
    --btn-color: var(--primary-medium);

    & + .btn {
      margin-left: calc(var(--input-padding) * -0.5);
    }
  }

  &Address {
    .value {
      font-size: var(--size-4);
    }
  }
}

.swap {
  --middle: var(--size-20);
  --btn-ratio: 2;
  display: flex;
  gap: var(--middle);
  position: relative;

  @include max($responsiveSwap) {
    --btn-ratio: 1.25;
    --middle: var(--size-12);
    flex-direction: column;
  }

  &Button {
    transition: transform var(--transition-scale),
      background-color var(--transition-link);
    position: absolute;
    width: calc(var(--middle) / var(--btn-ratio));
    height: calc(var(--middle) / var(--btn-ratio));
    background-color: var(--primary-medium);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: var(--size-5);

    &:hover {
      background-color: var(--primary-low);
    }

    &:active {
      transform: translate(-50%, -50%) scale(0.9);
    }

    svg {
      animation: move 2s ease-in-out infinite;
      position: relative;

      @include max($responsiveSwap) {
        animation: none;
        transform: rotate(90deg);
      }

      @keyframes move {
        0% {
          left: -0.2em;
        }
        50% {
          left: 0.2em;
        }
        100% {
          left: -0.2em;
        }
      }
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: var(--middle);
    height: 42%;
    background-color: var(--background-medium);
    display: block;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: var(--radius-s);

    @include max($responsiveSwap) {
      width: 48%;
      height: var(--middle);
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &::before {
    top: 0;
    z-index: 5;

    @include max($responsiveSwap) {
      left: 0;
      top: 50%;
    }
  }

  &::after {
    bottom: 0;
    z-index: 2;
    box-shadow: 0 -2em 0 0.5em var(--background-low);

    @include max($responsiveSwap) {
      bottom: none;
      right: 0;
      left: auto;
      box-shadow: -2em 0 0 0.5em var(--background-low);
    }
  }

  &Input {
    background-color: var(--background-low);
    border-radius: var(--radius-m);
    padding: var(--input-padding);
    display: flex;
    align-items: center;
    gap: calc(var(--input-padding) / 2);
    flex-wrap: wrap;
    cursor: pointer;
    position: relative;

    @include min($responsiveSwap) {
      width: calc(100% - var(--middle) / 2);
    }

    &:hover {
      .swapArrow {
        color: var(--primary-medium);
      }
    }
  }

  &Label {
    min-width: 100%;
    width: 100%;
    display: block;
    font-size: var(--size-4);
    color: var(--text-secondary);
  }

  &Value {
    font-weight: 600;
    letter-spacing: -0.015em;
    flex: 1;
    min-width: 0;
  }

  &Icon {
    --symbol-size: 1.5em;
    transform: scale(1.25);
  }

  &Arrow {
    transform: scale(1.25);
    position: absolute;
    right: var(--input-padding);
    bottom: var(--input-padding);
  }
}

.symbol {
  color: var(--white);
  width: 28px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--white);
}

.recap {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--size-10) / 2);

  &Item {
    --padding: var(--size-6);
    flex: 1 auto;
    display: flex;
    gap: calc(var(--padding) / 2);
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-medium);
    padding: var(--padding);
    border-radius: var(--radius-m);

    span {
      color: var(--text-secondary);
    }
  }
}

.deposit {
  width: 100%;
}

.qrcode {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-lowest);
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-m);

  img {
    width: 100%;
  }
}
