@use "styles/mixins" as *;

.heading {
  font-size: var(--heading-size, var(--size-6));
  display: flex;
  align-items: center;
  gap: 0.75em;
  width: 100%;

  @include max($responsiveMobile) {
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--heading-size, var(--size-5));
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.15em;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  letter-spacing: -0.015em;
  line-height: 1.4;
  @include ellipsis;

  svg {
    display: inline-block;
    color: var(--primary-medium);
    margin-left: 0.25em;
    font-size: 0.85em;
    vertical-align: middle;
  }
}

.description {
  font-size: 0.6em;
  color: var(--text-tertiary);
  line-height: 1.2;
}

.icon {
  font-size: var(--heading-icon, var(--size-13));
  color: var(--primary-medium);
  background-color: var(--background-high);
  width: 1em;
  min-width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.45em;
  padding: 0.275em;

  @include max($responsiveMobile) {
    font-size: var(--heading-icon, var(--size-11));
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 0.33em;

  @include max($responsiveMobile) {
    margin-left: initial;
    --btn-height: var(--button-small-height);
  }
}
