@use "styles/mixins" as *;

@mixin sub($size, $index, $bnav: false) {
  @include max($size) {
    .list {
      li:nth-last-child(#{$index}) {
        display: none;
      }
    }

    .sub {
      li:nth-last-child(#{$index}) {
        display: inline-flex;
      }
    }

    @if $bnav {
      .bnav {
        display: inline-flex;
      }
    }
  }

  @if $bnav {
    @include min($size) {
      .sub {
        display: none;
      }
    }
  }
}

.bnav {
  --btn-height: calc(var(--button-medium-height) - var(--size-1-5));
  display: none;

  @include min($responsiveNav) {
    margin-right: calc(var(--size-1-5) * 1);
  }
}

.nav {
  --padding: var(--size-1-5);
  display: flex;
  align-items: center;
  font-size: var(--size-3-5);
  border-radius: var(--radius-rounded);
  background-color: var(--background-low);
  padding: var(--padding);
  position: relative;
  gap: var(--size-1-5);
  box-shadow: var(--shadow-m);

  @include sub(1500px, 1, true);
  @include sub(1350px, 2);

  @include max($responsiveNav) {
    order: 3;
    margin-left: calc(var(--spacing-s) * -0.5);
  }
}

.list {
  display: flex;
  align-items: center;
  gap: inherit;
  z-index: 5;

  @include max($responsiveNav) {
    &:not(.sub) {
      display: none;
    }
  }
}

.sub {
  @include transition(nav, (opacity, visibility));
  position: absolute;
  right: 0;
  top: 100%;
  background: var(--background-low);
  border-radius: var(--radius-rounded);
  padding: var(--padding);
  margin-top: var(--size-1-5);
  box-shadow: 0 16px 32px rgba(var(--dark-rgb), 0.075);
  @include auto-alpha(0);

  &.open {
    @include auto-alpha(1);
  }

  @include min($responsiveNav) {
    li {
      display: none;
    }
  }

  @include max($responsiveNav) {
    flex-direction: column;
    border-radius: var(--radius-m);

    li {
      width: 100%;

      & > * {
        width: 100%;
        padding-right: calc(var(--btn-base-padding-x) * 2);
      }
    }
  }
}
