@use "styles/mixins" as *;

.top {
  grid-template-areas:
    "a a a a a a b b c c d d"
    "a a a a a a e e e e f f"
    "g g g h h h k k k k k k"
    "i i i i i i j j j j j j";

  @include max(1550px) {
    grid-template-areas:
      "a a a a a a b b b c c c"
      "a a a a a a e e e e f f"
      "g g g h h h k k k k k k"
      "i i i i i i j j j j j j";

    [data-area="d"] {
      display: none;
    }
  }

  @include max(1350px) {
    grid-template-areas:
      "a a a a a a b b b c c c"
      "a a a a a a e e e e e e"
      "g g g h h h k k k k k k"
      "i i i i i i j j j j j j";

    [data-area="f"] {
      display: none;
    }
  }

  @include max(1200px) {
    --grid-columns: 6;
    grid-template-areas:
      "a a a a a a"
      "b b c c d d"
      "e e e e f f"
      "i i i i i i"
      "k k k k k k"
      "j j j j j j"
      "g g g h h h";

    [data-area="d"] {
      display: block;
    }

    [data-area="f"] {
      display: block;
    }
  }

  @include max(600px) {
    grid-template-areas:
      "a a a a a a"
      "b b b c c c"
      "d d d f f f"
      "e e e e e e"
      "i i i i i i"
      "k k k k k k"
      "j j j j j j"
      "g g g g g g"
      "h h h h h h";
  }
}

.card {
  background-color: red;
  height: 100%;
}

.special {
  display: flex;
  align-items: center;

  > * {
    width: 100%;
  }
}
