@use "styles/mixins" as *;

.dropdown {
  --content-margin: var(--size-2);
  position: relative;
  z-index: 150;
}

.content {
  --padding: var(--size-1-5);
  position: absolute;
  z-index: 150;
  font-size: var(--size-3-5);

  &.right-top,
  &.top-right {
    bottom: calc(100% + var(--content-margin));
    right: 0;
  }

  &.left-top,
  &.top-left {
    bottom: calc(100% + var(--content-margin));
    left: 0;
  }

  &.right-bottom,
  &.bottom-right {
    top: calc(100% + var(--content-margin));
    right: 0;
  }

  &.left-bottom,
  &.bottom-left {
    top: calc(100% + var(--content-margin));
    left: 0;
  }

  ul {
    display: flex;
    align-items: center;
    gap: var(--size-1);
    flex-direction: column;
    border-radius: var(--radius-m);
    background: var(--background-low);
    padding: var(--padding);
    box-shadow: 0 16px 32px rgba(var(--dark-rgb), 0.075);

    li {
      min-width: 150px;

      & > * {
        width: 100%;
      }
    }
  }
}

.scroll {
  max-height: 30vh;
  @include no-scrollbar;
}
