@use "styles/mixins" as *;

.blocks {
  --block-gap: calc(var(--card-padding) / 2);
  display: flex;
  gap: var(--block-gap);
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;

  @include max(1200px) {
    flex-wrap: wrap;
  }

  @include max(600px) {
    flex-direction: column;
  }

  &.vertical {
    flex-direction: column;

    .block {
      strong {
        position: absolute;
        right: var(--padding);
        font-size: var(--size-5);
      }
    }
  }
}

.block {
  @include block(var(--size-6), calc(var(--padding) / 3));
  flex: 1;
  overflow: hidden;
  width: 100%;
  position: relative;

  & > * {
    display: block;
    color: var(--text-primary);
    white-space: nowrap;
    @include ellipsis;
  }

  strong {
    color: var(--color-primary, currentColor);
    font-size: var(--size-6);
  }

  @include max(600px) {
    strong {
      position: absolute;
      right: var(--padding);
      font-size: var(--size-5);
    }
  }

  svg {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 0.1em;
  }
}

.bottom {
  position: relative;
  font-size: var(--size-3-5);
  min-height: 1.1em;
  width: 100%;
  display: block;
  line-height: 1;

  small {
    top: 0;
    left: 0;
    position: absolute;
    color: var(--text-tertiary);
    @include ellipsis;
    height: 100%;
  }
}
